<div class="header">
  <% if current_page?('/?filter=all')%>
    <h1>All Products</h1>
  <% elsif current_page?('/?filter=usa_made') %>
    <h1>USA Made Products</h1>
  <% elsif current_page?('/?filter=last_three') %>
    <h1>Last Three Products</h1>
  <% elsif current_page?('/?filter=most_reviewed') %>
    <h1>Most Reviewed Product</h1>
  <% else %>
    <h1>Home</h1>
  <% end %>
</div>
<div class="header">
  <% if current_page?('/?filter=all')%>
  <div class="message">This is a list of all our products. Click on any below to see their details!</div>
  <% elsif current_page?('/?filter=usa_made') %>
  <div class="message">This is a list of our products made here in the USA. Great for people who want to buy local!</div>
  <% elsif current_page?('/?filter=last_three') %>
  <div class="message">These are the three most recently added products. Check 'em out and let us know what you think!</div>
  <% elsif current_page?('/?filter=most_reviewed') %>
  <div class="message">This is our most reviewed product. See what everybody said!</div>
  <% else %>
  <div class="message">Welcome to Luigi's Luxurious Foods! This is the website for all the products we carry here at Luigi's. Feel free to navigate around with the selections below, and you can even leave reviews on the products if you want.</div>
  <% end %>
</div>
<div class="filter-nav">
  <%= link_to "All Products", {:controller => "products", :action => "index", :filter => "all" }, class: 'filter' %>
  <%= link_to "Made in the USA", {:controller => "products", :action => "index", :filter => "usa_made" }, class: 'filter' %>
  <%= link_to "Most Recent Three", {:controller => "products", :action => "index", :filter => "last_three" }, class: 'filter' %>
  <%= link_to "Most Reviewed", {:controller => "products", :action => "index", :filter => "most_reviewed" }, class: 'filter' %>
</div>
<hr>
<%= link_to "New Product", new_product_path, class: "new" %>
<% @products.each do |product| %>
  <div class="products"><%= link_to product.name, product_path(product), class: "product" %></div>
<% end %>
<br>
