<!DOCTYPE html>
<html>
  <head>
    <title>Luigi's Luxurious Food</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="my-nav">
      <div class="container">
        <%= link_to "Home", root_path, class: "navbar-links home" %>
        <%= link_to "Luigi's Luxurious Foods", root_path, class: "navbar-links title" %>
        <%= link_to "Products", {:controller => "products", :action => "index", :filter => "all" }, class: "navbar-links products-link" %>
      </div>
    </div>
    <div class="container content">
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>
    </div>
  </body>
</html>
